@tailwind base;
@tailwind components;
@tailwind utilities;


/* CSS */
.btn-del {
    padding: 0.3rem 1rem; /* Equivalent to px-4 py-2 */
    background-color: #3490dc; /* Equivalent to bg-blue-500 */
    color: #fff; /* Equivalent to text-white */
    border-radius: 9999px; /* Equivalent to rounded-full */
    text-decoration: none; /* Equivalent to focus:outline-none */
    transition: background-color 0.2s ease-in-out; /* Equivalent to hover:bg-blue-600 */
    border: 2px solid #3490dc; /* Equivalent to focus:ring-2 */
    margin-left: 15px;
    margin-bottom: 10px;
}

.btn-del:hover {
    background-color: #2779bd; /* Equivalent to hover:bg-blue-600 */
}

.btn-del:focus {
    outline: none; /* Equivalent to focus:outline-none */
    border: 2px solid #3490dc; /* Equivalent to focus:ring-2 */
    box-shadow: 0 0 0 3px rgba(52, 144, 220, 0.5); /* Equivalent to focus:ring-blue-500 focus:ring-opacity-50 */
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* CSS */
.btn-del {
    padding: 0.3rem 1rem; /* Equivalent to px-4 py-2 */
    background-color: #3490dc; /* Equivalent to bg-blue-500 */
    color: #fff; /* Equivalent to text-white */
    border-radius: 9999px; /* Equivalent to rounded-full */
    text-decoration: none; /* Equivalent to focus:outline-none */
    transition: background-color 0.2s ease-in-out; /* Equivalent to hover:bg-blue-600 */
    border: 2px solid #3490dc; /* Equivalent to focus:ring-2 */
    margin-left: 15px;
    margin-bottom: 10px;
}

.btn-del:hover {
    background-color: #2779bd; /* Equivalent to hover:bg-blue-600 */
}

.btn-del:focus {
    outline: none; /* Equivalent to focus:outline-none */
    border: 2px solid #3490dc; /* Equivalent to focus:ring-2 */
    box-shadow: 0 0 0 3px rgba(52, 144, 220, 0.5); /* Equivalent to focus:ring-blue-500 focus:ring-opacity-50 */
}

